body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  gap: 30px;
  background: lightblue;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1;
  height: 80vh;
  border: 1px solid gray;
  background: white;
}

.grid-item {
  box-sizing: border-box;
  aspect-ratio: 1;
  border: 1px solid gray;
}

.grid-item--hovered {
  background: blue;
}
